h3 Summary
.table-responsive
  table.table.table-bordered.table-condensed
    tbody
      tr
        th ID
        td= violator.accountId
      tr
        th Nickname
        td= violator.nickname
      tr
        th Precedents
        td= violator.precedents
h3 Violations
.table-responsive-custom
  table.table.table-condensed.table-striped.table-fixed(style='min-width: 400px;')
    thead
      tr
        th.col-xs-6 Time
        th.col-xs-6 Subject
    tbody
      each violation in violator.violations
        tr
          td.col-xs-6= violation.createdAt
          td.col-xs-6= violation.subject
  form.hidden(name='banViolator' action=rootPath+'/accounts/'+violator.accountId+'/ban' method='POST')
  form.hidden(name='forgiveViolator' action=rootPath+'/accounts/violators/'+violator.accountId+'/forgive' method='POST')