extends ./layout

block content
  .page-header
    h1 #[i.fa.fa-id-card] Accounts
  .row
    .col-sm-4
      .panel.panel-info
        .panel-heading
          .panel-title Summary
        .panel-body
          p.h3 Total players: #[strong= players] #[i.fa.fa-male]
      .panel.panel-danger
        .panel-heading
          .panel-title Dangerous Toolkit
        .panel-body
          button.btn.btn-primary.btn-block(data-toggle='collapse' data-target='#banhammer') #[i.fa.fa-gavel] Banhammer
          #banhammer.collapse
            .alert.alert-warning
              h4 Attention!
              p Do not touch innocents, please.
            form.form.text-center(action=rootPath+'/accounts/ban' method='POST')
              .form-group
                input.form-control(name='target' placeholder='ID to ban')
              .form-group
                input.form-control(name='duration' placeholder='Ban duration (s)' value='60')
              button.btn.btn-block.btn-danger(type='submit') Proceed
    .col-sm-8
      .panel.panel-primary
        .panel-heading
          .panel-title Possible Violators
        .panel-body.table-responsive
          table.table.table-striped.table-condensed.table-hover
            thead
              th ID
              th Nickname
              th Precedents
              th First
              th Last
            tbody
              each violator in violators
                tr.ajax-load.reveal(data-ajax-path=rootPath+'/accounts/violators/'+violator.accountId data-ajax-method='GET' data-ajax-target='#violator-details-content' data-ajax-meta=violator.accountId data-reveal-target='#violator-details')
                  td= violator.accountId
                  td= violator.nickname
                  td= violator.precedents
                  td= violator.first
                  td= violator.last
      #violator-details.panel.panel-warning.hidden
        .panel-heading
          .panel-title Violator Details
        .panel-body
          #violator-details-content
          h3 Actions
          .btn-group.btn-group-justified
            a.btn.btn-success(href='#' onclick='document.'+'forgiveViolator'+'.submit();') Forgive
            a.btn.btn-danger(href='#' onclick='document.'+'banViolator'+'.submit();') Ban